div.image_container {
  > img {
    width: 100%;
  }
  &.adjust {
    position: relative;
    overflow: hidden;
    > img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    > .loading {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to right,
        var(--background) 8%,
        var(--background-dark) 38%,
        var(--background) 54%
      );
      animation-name: placeHolderShimmer;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
      animation-fill-mode: forwards;
      background-size: 1000px 640px;
    }
  }
}

@keyframes loading {
  0% {
    background-position: -468px 0;
  }
  100% {
    background-position: 468px 0;
  }
}
