a {
  color: var(--text);
  .game_card {
    border: 0.5em solid var(--background);
    position: relative;
    width: 100%;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    .info {
      position: absolute;
      top: 100%;
      left: -25%;
      width: 150%;
      box-sizing: border-box;
      background-color: var(--background);
      opacity: 0;
      transition: transform 0.2s;
      padding: 1em calc(25% + 0.5em);
      text-align: center;
      > h4 {
        margin: 0;
      }
    }
    &:hover {
      .info {
        transform: translateY(calc(-100% + 1px));
        opacity: 1;
      }
    }
  }
}
