<div class="sidebar" [class.active]="active">
  <a routerLink="">
    <div class="brand">
      <app-sidebar-icons [icon]="'default'"></app-sidebar-icons>
      GameView
    </div>
  </a>
  <hr />
  <nav class="nav">
    <ul>
      <li>
        <a [routerLink]="'/games'">
          <app-sidebar-icons [icon]="'games'"></app-sidebar-icons>
          Games
        </a>
      </li>
      <li>
        <a routerLink="/platforms">
          <app-sidebar-icons [icon]="'platform'"></app-sidebar-icons>
          Platforms
        </a>
      </li>
      <li>
        <a routerLink="/genres">
          <app-sidebar-icons [icon]="'genre'"></app-sidebar-icons>
          Genres
        </a>
      </li>
      <li>
        <a routerLink="/tags">
          <app-sidebar-icons [icon]="'tag'"></app-sidebar-icons>
          Tags
        </a>
      </li>
      <li>
        <a routerLink="/developers">
          <app-sidebar-icons [icon]="'dev'"></app-sidebar-icons>
          Developers
        </a>
      </li>
      <li>
        <a routerLink="/publishers">
          <app-sidebar-icons [icon]="'publisher'"></app-sidebar-icons>
          Publishers
        </a>
      </li>
    </ul>
  </nav>
</div>
<app-button-menu (clickEvt)="handleClick()" [active]="active"></app-button-menu>
