<div class="sidebar desktop">
  <a routerLink="">
    <div class="user">
      <span class="material-symbols-outlined">account_circle</span>
      username
    </div>
  </a>
  <hr />
  <nav class="nav">
    <ul>
      <li>
        <a routerLink="">
          <span class="material-symbols-outlined"> sell </span>
          Store
        </a>
      </li>
      <li>
        <a routerLink="">
          <span class="material-symbols-outlined"> grid_view </span>
          Libary
        </a>
      </li>
      <li>
        <a routerLink="">
          <span class="material-symbols-outlined"> history </span>
          Recent
        </a>
      </li>
      <li>
        <a routerLink="">
          <span class="material-symbols-outlined"> favorite </span>
          Favorites
        </a>
      </li>
    </ul>
  </nav>
  <hr class="options" />
  <div class="options">
    <ul>
      <li>
        <a routerLink="">
          <span class="material-symbols-outlined"> download_for_offline </span
          >Download
        </a>
      </li>
      <li>
        <a routerLink="">
          <span class="material-symbols-outlined"> settings </span>Settings
        </a>
      </li>
      <li>
        <a routerLink="">
          <span class="material-symbols-outlined"> help </span>About us
        </a>
      </li>
    </ul>
  </div>
</div>
