@import "./assets/scss/reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --background: #262522;
  --background-dark: #1a1814;
  --text: #bcbcbc;
  --text-light: #ffffff;
  --primary-light: #e9c463;
  --primary-regular: #d49e11;
  --primary-dark: #98751b;
  --info-light: #63d9e9;
  --info-regular: #11bdd5;
  --info-dark: #1b8898;
  --link-light: #63cce9;
  --link-regular: #1182d4;
  --link-dark: #1b6398;
  --success-light: #63e988;
  --success-regular: #11d448;
  --success-dark: #1b983e;
  --warning-light: #e99b63;
  --warning-regular: #d46311;
  --warning-dark: #984f1b;
  --danger-light: #e96363;
  --danger-regular: #d41111;
  --danger-dark: #981b1b;
}

body {
  background-color: var(--background-dark);
  color: var(--text-light);
  font-family: "Poppins", sans-serif;
}
.material-symbols-outlined {
  font-variation-settings: "FILL" 1;
}
